/*Barr superior */
.stlMetro{
    border-radius: 0;
}
.app-header {
    /*background: url(../Img/img1.jpg) no-repeat center;*/
    font-family: "Avenir", Futura, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    /*padding-bottom: 80px;*/
    /*margin-bottom: -100px;*/
}
.app-navbar {
    background: rgba(0,0,20,0.8);
    border-radius: 0;
}
.app-link {
    color: white;
    text-shadow: none;
}
.app-link:hover{
    color:white;
}
.app-nav > li > a{
    color: white;
    text-shadow:none;
}
.app-nav > li > a:hover {
    color: white;
    background-color: black;
}
.app-icon{
    background: white;
}


.app-section1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 168px;
}

.app-titulo{
    text-align: center;
    color: white;
    font-size:2.8em;
    margin-bottom: 35px;
}
.app-resaltar {
    color: #0080d6;
}
.app-descripcion{
    text-align:center;
    color:white;
    font-size:1em;
    margin-bottom:100px;
}
.app-formulario1 {
    width: 100%;
    margin:0 auto;
}
.app-formulario2 {
    padding: 15px 25px 25px 25px;
    background: rgba(0,0,0,0.6);
}
.app-input{
    height:50px;
    margin-top:10px;
}
.app-boton {
    margin-top: 10px;
    height: 50px;
    background: #0080d6;
    color: white;
}
.app-boton:hover{
    color:white;
}


.app-section2,.app-section3{
    margin: 100px 0;
}

.etiqueta{
	background: rgba(0,0,15,.9);
	color:white;
	padding: 6px 2px;
	box-shadow: 3px 3px 1px 2px rgba(0,0,15,.75),
	 -3px -3px 1px 2px rgba(0,0,15,.75);
}



.app-footer{
    text-align:center;
    background: rgba(0,0,15,.75);
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 80px 0;
}
.app-empresa{
    margin-bottom:50px;
    color:rgba(250,250,250,.8);
}
.app-icon1{
    background-color:#919191;
    color:white;
    padding: 10px;
    border-radius: 10px;
    margin-left: 10px;
}


figure{
	cursor: pointer;
    margin-bottom: 20px;
    transition: all .2s ease;
}
figure>img{
    position: relative;
}
figcaption {
    position: absolute;
    top:20px;
    bottom: 0; 
    right: 15px;
    left: 15px;
    padding: 90px 0;
	text-align: center;
    font-size: 18px;
	background: rgba(0,0,35,.50);
	color: #fafafa;
    display: none;
}



.modal-header{
    background: rgba(0,0,20,.8);
    color:#fefefe;
}
.footerIcono{
    width: 50px;
    margin: 0 auto;
    display: inline-block;
    cursor: pointer;
}

.fansub{
    font-size: 16px;
}

.btnBlue{
    background: rgba(0,0,20,.8);
    color:#fefefe;
}
.btnBlue:hover{
    background: rgba(0,0,50,.8);
    color:#fefefe;
}

@media (max-width: 768px){
    .app-titulo{
        font-size:1.4em;
        /*margin-top:20px;*/
        margin-bottom:10px;
    }
    .app-descripcion{
        font-size:0.8em;
        margin-bottom:-10px;
    }
    .slide{
        top:50px;
    }
}